.action-button-box {
  margin-left: 12px;
}

.action-button {
  width: 20px;
  height: 20px;
  padding: 4px;
  margin-left: 8px;
  color: #bdbdbd;
}

.action-button:hover {
  color: #ffffff;
}

.activated {
  color: #ffffff !important;
}

.grid {
  margin: 20px;
  padding: 20px;
}
